{% extends "base_sections.html"%}

{% block content %}



<main id="confirmation" class="container-contact100">
	<div class="wrap-contact100">
		<header style="text-align: center">
			<span class="contact100-form-title">
				Oops no pudimos encontrar lo que buscanas
			</span>
      <p>Pero no te preocupes, aún tenemos más inforamción que puede ser de utilidad para ti, regresa al inicio y navega desde ahí</p>
      <p style="text-align: center"><strong><a href="{{ url_for('core.index') }}">Volver al Home</a></strong></p>
		</header>
		<br>

</main>


{% endblock %}
