{% extends "base.html"%}
{% from "_render_selects.html" import render_selects %}
{% from "_render_selects.html" import render_radio %}

{% block content %}



<main id="confirmation" class="container-contact100">
	<div class="wrap-contact100">
		<header style="text-align: center">
			<span class="contact100-form-title">
				Confirma a los asistentes
			</span>
		</header>
		<br>


		<section>
			<form class="contact100-form validate-form" method="post" action="{{ url_for('core.confirm') }}">
				{# This hidden_tag is a CSRF security feature. #}
				{{ form.hidden_tag() }}
				<table class="table-confirmation">
					<thead>
						<tr>
							<th>Invitado</th>
							<th>Confirmar</th>
						</tr>
					</thead>
					<tbody>
						{% for guest in guests %}
						<tr>
							<td><label class="form-label-confirmation" for="id_{{guest}}">{{guest}}</label></td>
							<td><input type="checkbox" id="id_{{guest}}" name="guests" checked="yes" value="{{guest}}"></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>



				<!-- {% for guest in guests %}
				<div class="">
					<span>{{ guest }}</span>
					  {{form.isAttending }}
				</div>
				{% endfor %} -->
				<ul>
					{% for error in form.errors %}
					<li style="color:red"> {{ error }} </li>
					{% endfor %}
				</ul>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn" type="submit">
						<span>
							<i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
							Confirmar mi asistencia
						</span>
					</button>
				</div>
			</form>
		</section>

	</div>
</main>


{% endblock %}
