{% extends "base_sections.html"%}
{% from "_render_selects.html" import render_selects %}
{% from "_render_selects.html" import render_radio %}

{% block content %}


<section id="banner">
	<header>
		<h2>¡Hola, {{name}}!</h2>
		<h2>Queremos invitarte a <strong>nuestra boda</strong></h2>
		<p>
			Tienes {{ tickets }} pase(s) en tu registro, para poder organizar mejor la fiesta,<br>
			confirma quiénes asistirán. <br>
			<strong>¡Gracias y esperamos verte este 17 de noviembre de 2019!</strong>
		</p>
	</header>
</section>



<main id="confirmation" class="container-contact100">
	<div class="wrap-contact100">
		<header style="text-align: center">
			<span class="contact100-form-title">
				Confirma a los asistentes
			</span>
		</header>


		<section>
			<form class="contact100-form validate-form" method="post" action="{{ url_for('core.confirm') }}">
				{# This hidden_tag is a CSRF security feature. #}
				{{ form.hidden_tag() }}
					<div class="wrapper-table">
						<div class="table-confirmation2">

							<div style="text-align:center" class="row-table2  header">
								<div class="cell-table2 ">
									Invitado
								</div>
								<div  style="text-align:center" class="cell-table2 ">
									Marca la casilla para confirmar
								</div>
							</div>
							{% if guests  %}
							{% for guest in guests %}
							<div class="row-table2 ">
								<div style="text-align:center" class="cell-table2 " data-title="Name">
									<td><label  class="form-label-confirmation" for="id_{{guest}}">{{guest}}</label></td>
								</div>
								<div style="text-align:center" class="cell-table2 " data-title="Status">
									<td><input type="checkbox" id="id_{{guest}}" name="guests" checked="yes" value="{{guest}}"></td>
								</div>
							</div>
							{% endfor %}
							{% endif %}
							{% if guests_not  %}
							{% for guestn in guests_not %}
							<div class="row-table2 ">
								<div style="text-align:center" class="cell-table2 " data-title="Name">
									<td><label  class="form-label-confirmation" for="id_{{guestn}}">{{guestn}}</label></td>
								</div>
								<div style="text-align:center" class="cell-table2 " data-title="Status">
									<td><input type="checkbox" id="id_{{guestn}}" name="guests" value="{{guestn}}"></td>
								</div>
							</div>
							{% endfor %}
							{% endif %}
						</div>
					</div>
					{% if not guests %}
					<p style="color:red; font-size:16px; line-height:20px; margin-top:10px; text-align:center;"> Tu confirmación está vacía, eso quiere decir que anteriormente no marcaste ningún nombre.
						¿Cambiaste de parecer y asistirán? <br>Marca los nombres de los invitados que sí asistirán.</p>
					{% endif %}
					<ul>
						{% for error in form.errors %}
						<li style="color:red"> {{ error }} </li>
						{% endfor %}
					</ul>
					<div class="container-contact100-form-btn">
						<button class="contact100-form-btn" type="submit">
							<span>
								<i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
								  Confirmar mi asistencia
							</span>
						</button>
					</div>
			</form>
		</section>

	</div>
</main>


{% endblock %}
