<!DOCTYPE HTML>
<html>
<head>
	<title>Nuestra Boda A &amp M</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css')}}" />
	<noscript><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css')}}" /></noscript>
	{% block scripts %}

	{% endblock %}

</head>
	<body class="right-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Inner -->
					<div style="background: rgba(0, 0, 0, 0.05); padding:30px; border-radius: 25px;" class="inner">
						<header>
							<h1><a href="{{ url_for('core.index')}}" id="logo">Nuestra Boda</a></h1>
							<hr />
							<p>Angie &amp Marco </p>
						</header>
					</div>

					<!-- Nav -->
					<nav style="background: rgba(0, 0, 0, 0.1); margin-top: 10px" id="nav">
						<ul>
							<li><a href="{{ url_for('core.index')}}">Inicio</a></li>
							<li>
								<a href="#">Hoteles</a>
								<ul>
									<li><a href="{{ url_for('core.quinta_san_carlos')}}">Quinta San Carlos</a></li>
									<li><a href="{{ url_for('core.others')}}">Otras opciones</a></li>
								</ul>
							</li>
							<li><a href="{{ url_for('core.how_to_get_there')}}">¿Cómo llegar?</a></li>
							<li><a href="{{ url_for('core.registry')}}">Mesa de regalos</a></li>
							<li><a href="{{ url_for('core.faq')}}">FAQ</a></li>
						</ul>
					</nav>

				</div>

        {% block content %}



        {% endblock %}


			<!-- Footer -->
			<div id="footer">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<!-- Contact -->
								<section class="contact">
									<header>
										<h3>¿Tienes una pregunta?</h3>
									</header>
									<p>Por favor, contáctanos en una de nuestras redes sociales y con gusto te ayudarémos</p>
									<ul class="icons">
										<li><a href="https://twitter.com/MarcoBurgos" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="https://www.facebook.com/profile.php?id=555107398" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
										<li><a href="https://www.instagram.com/angiezcoln/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="https://www.linkedin.com/in/marco-burgos-2b006670/" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
									</ul>
								</section>

							<!-- Copyright -->
								<div class="copyright">
									<ul class="menu">
										<li>&copy; Todos los Derechos Reservados.</li><li>Diseño y desarrollo: <a href="https://twitter.com/MarcoBurgos">Marco Burgos</a></li>
									</ul>
								</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='assets/js/jquery.min.js')}}"></script>
			<script src="{{ url_for('static', filename='assets/js/jquery.dropotron.min.js')}}"></script>
			<script src="{{ url_for('static', filename='assets/js/jquery.scrolly.min.js')}}"></script>
			<script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js')}}"></script>
			<script src="{{ url_for('static', filename='assets/js/browser.min.js')}}"></script>
			<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js')}}"></script>
			<script src="{{ url_for('static', filename='assets/js/util.js')}}"></script>
			<script src="{{ url_for('static', filename='assets/js/main.js')}}"></script>
			{% block tailscripts %}

			{% endblock %}

	</body>
</html>
