{% extends "base.html"%}
{% block content %}

<!-- Carousel -->
  <section class="carousel">
    <div class="reel">

      <article>
        <a href="{{ url_for('core.quinta_san_carlos')}}" class="image featured"><img src="{{ url_for('static', filename='images/hotel.jpg')}}" alt="" /></a>
        <header>
          <h3><a href="{{ url_for('core.quinta_san_carlos')}}">Hotel sede de la boda</a></h3>
        </header>
        <p>Disfruta al máximo la fiesta sin necesidar de estar moviéndote, hospédate en Quinta San Carlos</p>
      </article>

      <article>
        <a href="{{ url_for('core.how_to_get_there')}}" class="image featured"><img src="{{ url_for('static', filename='images/getthere.jpg')}}" alt="" /></a>
        <header>
          <h3><a href="{{ url_for('core.how_to_get_there')}}">¿Cómo llegar?</a></h3>
        </header>
        <p>Usa Google Maps o sigue estas indicaciones y no te pierdas en el camino</p>
      </article>

      <article>
        <a href="#" class="image featured"><img src="{{ url_for('static', filename='images/others.jpg')}}" alt="" /></a>
        <header>
          <h3><a href="#">Otras opciones de hospedaje</a></h3>
        </header>
        <p>¡Que la fiesta no termine temprano! Explora otros lugares para quedarte a dormir en el pueblo</p>
      </article>

      <article>
        <a href="{{ url_for('core.registry')}}" class="image featured"><img src="{{ url_for('static', filename='images/gift.jpg')}}" alt="" /></a>
        <header>
          <h3><a href="{{ url_for('core.registry')}}">Mesa de regalos</a></h3>
        </header>
        <p>Desde toallas, juegos de mesa y electrónicos hasta herramientas. Todo lo encuentras en Amazon. </p>
      </article>

      <article>
        <a href="{{ url_for('core.flights')}}" class="image featured"><img src="{{ url_for('static', filename='images/plane.jpg')}}" alt="" /></a>
        <header>
          <h3><a href="{{ url_for('core.flights')}}">¿Vuelas a la boda?</a></h3>
        </header>
        <p>Usa estas herramientas para encontrar la mejor opción para llegar a Guadalajara.</p>
      </article>

      <article>
        <a href="#" class="image featured"><img src="{{ url_for('static', filename='images/DJ.jpg')}}" alt="" /></a>
        <header>
          <h3><a href="#">¡Que la música no pare!</a></h3>
        </header>
        <p>No hay fiesta sin música, ¡ayúdanos a armar un playlist prendido para pasárselo al DJ!</p>
      </article>

      <article>
        <a href="{{ url_for('core.faq')}}" class="image featured"><img src="{{ url_for('static', filename='images/pic02.jpg')}}" alt="" /></a>
        <header>
          <h3><a href="{{ url_for('core.faq')}}">FAQ</a></h3>
        </header>
        <p>Todas tus dudas sobre la boda, misa, fiesta y demás, aquí tienen una respuesta.</p>
      </article>

    </div>
  </section>


{% endblock %}
