{% extends "base_sections.html"%}
{% block content %}


<section id="banner">
	<header>
    <div class="background-body">
      <div class="textcontainer">
        <h2 style="display:inline" class="particletext confetti">¡Listo, {{ name }} <br>
					<strong>estás confirmado!</strong></h2>
      </div>
    </div>
    <p>
      A continuación, podrás encontrar información que puede ser de tu interés, para tu comodidad <br>
      navega por ellos y si aún tienes preguntas, no dudes en contactarnos. <br>
      <br>
      <strong>¡Nos da gusto que nos acompañes este 17 de noviembre de 2019, <br>
        gracias por celebrar esta unión con nosotros!</strong>
    </p>

	</header>
</section>

<!-- Carousel -->
  <section class="carousel">
    <div class="reel">

      <article>
        <a href="{{ url_for('core.quinta_san_carlos')}}" class="image featured"><img src="{{ url_for('static', filename='images/hotel.jpg')}}" style="max-height: 206px;" alt="Quinta San Carlos" /></a>
        <header>
          <h3><a href="{{ url_for('core.quinta_san_carlos')}}">Hotel sede de la boda</a></h3>
        </header>
        <p>Disfruta al máximo la fiesta sin necesidar de estar moviéndote, hospédate en Quinta San Carlos</p>
      </article>

      <article>
        <a href="{{ url_for('core.how_to_get_there')}}" class="image featured"><img src="{{ url_for('static', filename='images/getthere.jpg')}}" style="max-height: 206px;" alt="Cómo llegar a Quinta San Carlos" /></a>
        <header>
          <h3><a href="{{ url_for('core.how_to_get_there')}}">¿Cómo llegar?</a></h3>
        </header>
        <p>Usa Google Maps o sigue estas indicaciones para el trayecto no sea complicado y llegues a tiempo</p>
      </article>

      <article>
        <a href="{{ url_for('core.others')}}" class="image featured"><img src="{{ url_for('static', filename='images/others.jpg')}}" style="max-height: 206px;" alt="Otros sitios de hospedaje" /></a>
        <header>
          <h3><a href="{{ url_for('core.others')}}">Más hospedaje</a></h3>
        </header>
        <p>¡Que la fiesta no termine temprano! Explora otros lugares para quedarte a dormir en el pueblo</p>
      </article>

      <article>
        <a href="{{ url_for('core.registry')}}" class="image featured"><img src="{{ url_for('static', filename='images/gift.jpg')}}" style="max-height: 206px;" alt="Mesa de regalos" /></a>
        <header>
          <h3><a href="{{ url_for('core.registry')}}">Mesa de regalos</a></h3>
        </header>
        <p>Desde toallas, juegos de mesa y electrónicos hasta herramientas. Todo lo encuentras en Amazon </p>
      </article>

      <article>
        <a href="{{ url_for('core.flights')}}" class="image featured"><img src="{{ url_for('static', filename='images/plane.jpg')}}" style="max-height: 206px;" alt="Vuelos hacia Guadalajara" /></a>
        <header>
          <h3><a href="{{ url_for('core.flights')}}">¿Vuelas a la boda?</a></h3>
        </header>
        <p>Usa estas herramientas para encontrar la mejor opción para llegar a Guadalajara vía área</p>
      </article>

      <article>
        <a href="{{ url_for('core.playlist')}}" class="image featured"><img src="{{ url_for('static', filename='images/music.jpg')}}" style="max-height: 206px;"  alt="Música para la fiesta" /></a>
        <header>
          <h3><a href="{{ url_for('core.playlist')}}">¡Música, maestro!</a></h3>
        </header>
        <p>No hay fiesta sin música, ¡ayúdanos a armar un playlist prendido para pasárselo al DJ de la fiesta!</p>
      </article>

      <article>
        <a href="{{ url_for('core.faq')}}" class="image featured"><img src="{{ url_for('static', filename='images/pic02.jpg')}}" style="max-height: 206px;"  alt="Preguntas frecuentes" /></a>
        <header>
          <h3><a href="{{ url_for('core.faq')}}">FAQ</a></h3>
        </header>
        <p>Hicimos un esfuerzo para que todas tus dudas sobre la boda, misa, fiesta y demás, tengán aquí una respuesta</p>
      </article>

    </div>
  </section>


{% endblock %}

{% block tailscripts %}
  <script src="{{ url_for('static', filename='assets/js/confeti.js')}}"></script>
{% endblock %}
