{% extends "base_sections.html"%}
{% block content %}
<!-- Main -->
				<div class="wrapper style1">

					<div class="container">
						<div class="row gtr-200">
							<div class="col-8 col-12-mobile" id="content">
								<article id="main">
									<header>
										<h2><a href="#">Preguntas frecuentas</a></h2>
										<p>
											Si tienes dudas sobre la boda, aquí podrás encontrar respuestas
										</p>
									</header>
									<a href="#" class="image featured"><img src="{{ url_for('static', filename='images/pic02.jpg')}}" alt="gift" /></a>
                  <header>
                    <h3>Generales</h3>
                  </header>
                  <p class="question-faq">
										¿Cuándo es la boda?
                  </p>
									<p>
										Domingo 17 de noviembre de 2019
									</p>
									<p class="question-faq">
										¿Dónde va ser la fiesta?
                  </p>
									<p>
										Hotel Quinta San Carlos
									</p>
									<p class="question-faq">
										¿Dónde va a ser la misa?
                  </p>
									<p>
										Capilla dentro de Quinta San Carlos
									</p>
									<p class="question-faq">
										¿La ceremonia civil es el mismo día?
                  </p>
									<p>
										Sí, para comodidad de nuestros invitados, todos los ritos de unión se llevarán a cabo en un solo lugar.
									</p>
									<p class="question-faq">
										¿A qué hora empieza el programa?
                  </p>
									<p>
										<ul>
											<li>17:00 hrs. Celebración religiosa</li>
											<li>18:00 hrs. Ceremonia civil</li>
											<li>19:00 hrs. Coctel de bienvenida</li>
											<li>20:00 hrs. Fiesta</li>
										</ul>	
									</p>
									<p class="question-faq">
										¿Qué pasa si no confirmo, pero aun así quiero ir?
                  </p>
									<p>
										No hay problema, solo asegúrate de traer una silla y un sandwich para que no te pierdas la fiesta.
										Nocierto.
										El equipo de Quinta San Carlos, organizador del evento, necesita las confirmaciones de los asistentes 3 semanas antes para la organización,
										así que si no confirmas tu asistencias, tu invitación se perderá.
									</p>
									<p class="question-faq">
										¿Por qué ponen un límite a las confirmaciones, yo quiero confirmar de último minuto?
                  </p>
									<p>
										¿Has visto a una novia estresada tratando de maquetar las mesas y ordenar a sus invitados?
										Créanme nadie quiero ver eso, así que mejor queremos tener tiempo para preparar una buena fiesta para nuestros invitados.
									</p>
									<p class="question-faq">
										¿Puedo llevar niños?
                  </p>
									<p>
										No, es una celebración para mayores de 21 edad.
									</p>
									<p class="question-faq">
										¿Tienen un hashtag?
                  </p>
									<p>
										Sí: #a<span><i  class="fa fa-heart" aria-hidden="true" style="color:#df7366"></i></span>m.
									</p>
									<br>
									<header>
                    <h3>Sobre el hotel</h3>
                  </header>
                  <p class="question-faq">
										¿Por qué eligieron Quinta San Carlos?
                  </p>
									<p>
										El hotel está en la ribera del Lago de Chapala, rodeado de naturaleza, casarnos ahí será como escapar de la rutina de la ciudad y celebrar todo en un mismo lugar. Su encanto es único y estamos seguros que a nuestros invitados les fascinará.
									</p>
									<p class="question-faq">
										¿Cómo puedo llegar a Quinta San Carlos?
                  </p>
									<p>
										Sigue <a href="{{ url_for('core.how_to_get_there')}}">el link</a> para tener más detalles.
									</p>
									<p class="question-faq">
										¿A qué hora es el check-in?
                  </p>
									<p>
										A las 15:00 horas.
									</p>
									<p class="question-faq">
										¿A qué hora es el check-out?
                  </p>
									<p>
										A las 12:00 horas.
									</p>
									<p class="question-faq">
										¿Hay precio preferencial si digo que voy a la Boda de Angie &amp Marco?
                  </p>
									<p>
										Sí, las habitaciones en ocupación doble tienen un precio de mil 800 con vista al
										jardín y mil 900 con vista al lago. La persona extra cuesta 500 pesos. Tienes que mencionar que es para el 17 de noviembre con el código AngieYMarco2019.
									</p>
									<p class="question-faq">
										El hotel ya está lleno, ¿qué otras opciones tengo?
                  </p>
									<p>
										Visita <a href="{{ url_for('core.others')}}">esta sección</a> para tener más detalles.
									</p>
									<p class="question-faq">
										¿Por qué me debería de quedar a dormir en el pueblo?
                  </p>
									<p>
										El pueblo de San Pedro Tesistán está a una hora en carretera de la ciudad, hay un tramo de la vía que es a un carril de ida y otro de vuelta
										y lo que queremos es que nuestros invitados disfruten y celebren con nosotros durante toda la noche y se despreocupen del regreso en la madrugada a la ciudad.
									</p>
									<p class="question-faq">
										¿Puedo hacer check in antes del domingo?
                  </p>
									<p>
										El hotel albergará otra boda el sábado, por lo que estará bloqueado para los invitados a ese otro evento. <a href="{{ url_for('core.others')}}">Aquí</a> hay otras opciones si llegas antes del domingo.
									</p>
									<p class="question-faq">
										¿El hotel ofrece desayuno gratis?
                  </p>
									<p>
										Sí, un buffete que lo presumen como una de las maravillas del hotel.
									</p>
									<p class="question-faq">
										¿Hay estacionamiento en el hotel?
                  </p>
									<p>
										Sí, valet parking también.
									</p>
									<br>
									<header>
                    <h3>Sobre la fiesta</h3>
                  </header>
                  <p class="question-faq">
										¿Hay un código de vestimenta?
                  </p>
									<p>
										Sí, Asiste de manera formal y cómoda, con detalles que dicten tu personalidad, puedes llevar traje, smoking, vestido largo o vestido corto.
									</p>
									<p class="question-faq">
										¿Se espera que haga mucho frío?
                  </p>
									<p>
										No, pero de preferencia lleva un abrigo, que puedes quitarte cuando te dé calor de tanto bailar y ponértelo de nuevo si te sientas a descansar.
									</p>
									<p class="question-faq">
										¿Cuál es el menú de la cena?
                  </p>
									<p>
										Déjate sorprender por nuestra selección.
										<br>
										(Pa k quieres saber eso jeje saludos)
									</p>
									<p class="question-faq">
										¿Qué habrá de tomar durante la fiesta?
                  </p>
									<p>
										Cerveza, whisky, tequila, refrescos y agua natural.
									</p>
									<p class="question-faq">
										¿Qué tipo de música habrá?
                  </p>
									<p>
										Un DJ y una banda.
									</p>
									<p class="question-faq">
										¿Cuál es la fecha límite para confirmar mi asistencia?
                  </p>
									<p>
										El 1 de octubre a las 12:00 horas, tiempo del Centro de México.
									</p>
									<p class="question-faq">
										Solicité mi contraseña, pero nunca me llegó a mi correo, ¿qué puedo hacer?
                  </p>
									<p>
										Contacta a marko.burgos@gmail.com
									</p>
									<p class="question-faq">
										¿Qué hago si ninguno de mis correos me los acepta?
                  </p>
									<p>
										Contacta a marko.burgos@gmail.com
									</p>
									<p class="question-faq">
										¿Qué hago si mi reservación muestra otros nombres de los que corresponde?
                  </p>
									<p>
										Contacta a marko.burgos@gmail.com
									</p>
									<p class="question-faq">
										¿Puedo invitar a alguien más si no aparece en la lista de nombres de mi reservación?
                  </p>
									<p>
										No, los nombres están ya registrados en una base de datos creada por los novios.
									</p>
									<p class="question-faq">
										¿Este sitio web guarda alguna de mi información personal?
                  </p>
									<p>
										Sí, la cual será vendida a Facebook para costear la luna de miel. Nocierto, la página solo almacena tu correo, el cual está encriptado en la base de datos, que posteriormente de la boda será destruida.
									</p>

									<p class="question-faq">
										¿Angélica te hizo escribir esta sección?
                  </p>
									<p>
										Sí, porque bridezilla.
									</p>

								</article>
							</div>
							<div class="col-4 col-12-mobile" id="sidebar">
								<hr class="first" />
								<section>
									<header>
										<h3><a href="#">¿Buscas más información?</a></h3>
									</header>
									<p>
										Visita el sitio web de Quinta San Carlos y enamórate de este lugar como lo hicimos
										nosotros; si quieres conocer con más detalles las habitaciones o amenidades del lugar,
										haz click en el botón para ir a la página del hotel.
									</p>
									<footer>
										<a href="http://quintasancarlos.com/" class="button">Conocer más</a>
									</footer>
								</section>
								<hr />
								<section>
									<header>
										<h3 style="text-align:center">Otras secciones <br>que pueden interesarte</h3>
										<br>
									</header>
									<div class="row gtr-50">
										<div class="col-4">
											<a href="{{ url_for('core.quinta_san_carlos')}}" class="image fit"><img src="{{ url_for('static', filename='images/hotel.jpg')}}" alt="" /></a>
										</div>
										<div class="col-8">
											<a href="{{ url_for('core.quinta_san_carlos')}}"><h4>Hotel sede</h4></a>
											<p>
												Conoce el recinto que albergará la boda.
											</p>
										</div>
										<div class="col-4">
											<a href="{{ url_for('core.how_to_get_there')}}" class="image fit"><img src="{{ url_for('static', filename='images/getthere.jpg')}}" alt="" /></a>
										</div>
										<div class="col-8">
											<a href="{{ url_for('core.how_to_get_there')}}"><h4>¿Cómo llegar?</h4></a>
											<p>
												Te dejamos indicaciones para llegar en tiempo a la boda.
											</p>
										</div>
										<div class="col-4">
											<a href="{{ url_for('core.others')}}" class="image fit"><img src="{{ url_for('static', filename='images/others.jpg')}}" alt="" /></a>
										</div>
										<div class="col-8">
											<a href="{{ url_for('core.others')}}"><h4>Otras opciones de hospedaje</h4></a>
											<p>
												Explora otras ofertas de alojamiento en el pueblo.
											</p>
										</div>
										<div class="col-4">
											<a href="{{ url_for('core.registry')}}" class="image fit"><img src="{{ url_for('static', filename='images/gift.jpg')}}" alt="" /></a>
										</div>
										<div class="col-8">
											<a href="{{ url_for('core.registry')}}"><h4>Mesa de regalos</h4></a>
											<p>
												Explora las opciones en la mesa que hemos establecido en Amazon.
											</p>
										</div>
										<div class="col-4">
											<a href="{{ url_for('core.flights')}}" class="image fit"><img src="{{ url_for('static', filename='images/plane.jpg')}}" alt="" /></a>
										</div>
										<div class="col-8">
											<a href="{{ url_for('core.flights')}}"><h4>¿Vuelas a la boda?</h4></a>
											<p>
												Revisa estas herramientas para encontrar el mejor vuelo.
											</p>
										</div>
										<div class="col-4">
											<a href="{{ url_for('core.playlist')}}" class="image fit"><img src="{{ url_for('static', filename='images/music.jpg')}}" alt="" /></a>
										</div>
										<div class="col-8">
											<a href="{{ url_for('core.playlist')}}"><h4>¡Que la música no pare!</h4></a>
											<p>
												Sugiérenos canciones para que suenen en la fiesta.
											</p>
										</div>

									</div>
									<footer>
										<a href="{{ url_for('core.index')}}" class="button">Ir al Home</a>
									</footer>
								</section>
							</div>
						</div>

					</div>

				</div>
{% endblock %}
