{% extends "base_sections.html"%}
{% block content %}
<!-- Main -->
				<div class="wrapper style1">

					<div class="container">
						<div class="row gtr-200">
							<div class="col-8 col-12-mobile" id="content">
								<article id="main">
									<header>
										<h2><a href="#">¿Vuelas a la boda?</a></h2>
										<p>
											Te sugerimos estas herramientas para encontrar la mejor opción
										</p>
									</header>
									<a href="#" class="image featured"><img src="{{ url_for('static', filename='images/plane.jpg')}}" alt="gift" /></a>
									<p>
										Buscar vuelos es una tarea tediosa, lo sabemos, por eso queremos ayudarte si nos vas a acompañar en ese día tan especial.
                    Te recomendamos estas herramientas que facilitarán el proceso y te ayudarán a monitorear precios para tomar una mejor decisión.
									</p>
                  <header>
                    <h3>Google Flights</h3>
                  </header>
                  <p>
                    Esta es nuestra favorita, con esta herramienta puedes buscar vuelos y ver tendencias de precios, así como sugerencias de
                    aeropuertos cercanos u otras fechas que pueden reducir el precio del boleto.
                  </p>
                  <p>Si tienes una cuenta de Google, puedes activar las alertas y recibir notificaciones a tu mail o directo a tu dispositivo,
                  cuando el precio se modifique, ya sea que baje o que suba.</p>
                  <a href="https://www.google.es/flights/" class="button">Ir a Google Flights</a>
                  <hr>
                  <header>
                    <h3>Skyscanner</h3>
                  </header>
                  <p>
                    Con esta opción puedes monitorear los precios desde tu teléfono móvil o activando alertas en tu mail.
                  </p>
                  <p>En este portal puedes ver tendencias de precios, filtrar por gustos y buscar además rentas de autos y hoteles.</p>
                  <a href="https://www.skyscanner.com/" class="button">Ir a Skyscanner</a>
                  <hr>
                  <header>
                    <h3>Amadeus</h3>
                  </header>
                  <p>
                    Amadeus.net no es tan conocida como las dos anteriores, pero su buscador es igual de efectivo y en algunas
                    ocasiones hasta más.
                  </p>
                  <p>
                    Este buscador revisa los sitios de las aerolíneas y decenas de agencias autorizadas para comparar los precios
                    y darte un panorama más amplio. Además cuenta con herramientas muy útiles para cuando planeas un viaje a lugares
                    lejanos donde desconoces situaciones como clima, moneda o hasta husos horarios.
                  </p>
                  <a href="https://www.amadeus.net/home" class="button">Ir a Amadeus</a>
                  <hr>
                  <header>
                    <h3>Hopper</h3>
                  </header>
                  <p>
                    Esta última es una plataforma exclusivamente móvil, es compatible para Android o para iOS.
                  </p>
                  <p>
                    Hopper predice el valor de las tarifas aéreas. Puedes seguir el vuelo que te interesa en la aplicación y
                    recibir una notificación tan pronto como el precio caiga a su punto más bajo. La app te dirá si conviene comprar o esperar un poco más.
                  </p>
                  <a href="https://www.hopper.com/" class="button">Ir a Hopper</a>


								</article>
							</div>
							<div class="col-4 col-12-mobile" id="sidebar">
								<hr class="first" />
								<section>
									<header>
										<h3><a href="#">¿Buscas más información?</a></h3>
									</header>
									<p>
										Visita el sitio web de Quinta San Carlos y enamórate de este lugar como lo hicimos
										nosotros; si quieres conocer con más detalles las habitaciones o amenidades del lugar,
										haz click en el botón para ir a la página del hotel.
									</p>
									<footer>
										<a href="http://quintasancarlos.com/" class="button">Conocer más</a>
									</footer>
								</section>
								<hr />
								<section>
									<header>
										<h3 style="text-align:center">Otras secciones <br>que pueden interesarte</h3>
										<br>
									</header>
									<div class="row gtr-50">
										<div class="col-4">
											<a href="{{ url_for('core.quinta_san_carlos')}}" class="image fit"><img src="{{ url_for('static', filename='images/hotel.jpg')}}" alt="" /></a>
										</div>
										<div class="col-8">
											<h4>Hotel sede</h4>
											<p>
												Conoce el recinto que albergará la boda.
											</p>
										</div>
                    <div class="col-4">
											<a href="{{ url_for('core.how_to_get_there')}}" class="image fit"><img src="{{ url_for('static', filename='images/getthere.jpg')}}" alt="" /></a>
										</div>
										<div class="col-8">
											<h4>¿Cómo llegar?</h4>
											<p>
												Te dejamos indicaciones para llegar en tiempo a la boda.
											</p>
										</div>
										<div class="col-4">
											<a href="{{ url_for('core.others')}}" class="image fit"><img src="{{ url_for('static', filename='images/others.jpg')}}" alt="" /></a>
										</div>
										<div class="col-8">
											<h4>Otras opciones de hospedaje</h4>
											<p>
												Explora otras ofertas de alojamiento en el pueblo.
											</p>
										</div>
                    <div class="col-4">
											<a href="{{ url_for('core.registry')}}" class="image fit"><img src="{{ url_for('static', filename='images/gift.jpg')}}" alt="" /></a>
										</div>
										<div class="col-8">
											<h4>Mesa de regalos</h4>
											<p>
												Explora las opciones en la mesa que hemos establecido en Amazon.
											</p>
										</div>
										<div class="col-4">
											<a href="{{ url_for('core.playlist')}}" class="image fit"><img src="{{ url_for('static', filename='images/DJ.jpg')}}" alt="" /></a>
										</div>
										<div class="col-8">
											<h4>¡Que la música no pare!</h4>
											<p>
												Sugiérenos canciones para que suenen en la fiesta.
											</p>
										</div>
										<div class="col-4">
											<a href="{{ url_for('core.faq')}}" class="image fit"><img src="{{ url_for('static', filename='images/pic02.jpg')}}" alt="" /></a>
										</div>
										<div class="col-8">
											<h4>FAQ</h4>
											<p>
												Encuentra respuestas a tus dudas sobre la boda.
											</p>
										</div>
									</div>
									<footer>
										<a href="{{ url_for('core.index')}}" class="button">Ir al Home</a>
									</footer>
								</section>
							</div>
						</div>

					</div>

				</div>
{% endblock %}
