{% from "_render_field.html" import render_field %}
<!DOCTYPE HTML>
<html>

<head>
	<title>Nuestra Boda A &amp M</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link href="https://fonts.googleapis.com/css?family=Playball%7CBitter" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/font-icon.css')}}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css')}}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/counter.css')}}" />
	<noscript><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css')}}" /></noscript>

		<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-138173090-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-138173090-1');
	</script>


</head>

<body class="homepage is-preload">
	<div id="page-wrapper">

		<!-- Header -->
		<div id="header">

			<!-- Inner -->
			<div class="inner">
				<header>
					<h1 style="font-family: 'Playball', cursive;"><a href="{{ url_for('core.index')}}" id="logo">Nuestra Boda</a></h1>
					<hr />
					<h2 style="font-family: 'Playball', cursive; color:white;">Angie <i style="transform: translateY(10px);font-size: 1em; color: #E45F74;"class="icon icon-heart"></i> Marco </h2>
					<h4 style="font-family: 'Playball', cursive; color:white;"> 17 de noviembre 2019</h4>
				</header>
				<footer>
					<a href="#banner" class="button circled scrolly">Iniciar</a>
				</footer>
			</div>

			<!-- Nav -->
			{% if current_user.is_authenticated %}
			<nav style="background: rgba(0, 0, 0, 0.1); margin-top: 10px" id="nav">
				<ul>
					<li><a href="{{ url_for('core.index')}}">Inicio</a></li>
					<li>
						<a href="#">Hoteles</a>
						<ul>
							<li><a href="{{ url_for('core.quinta_san_carlos')}}">Quinta San Carlos</a></li>
							<li><a href="{{ url_for('core.others')}}">Otras opciones</a></li>
						</ul>
					</li>
					<li><a href="{{ url_for('core.how_to_get_there')}}">¿Cómo llegar?</a></li>
					<li><a href="{{ url_for('core.registry')}}">Mesa de regalos</a></li>
					<li><a href="{{ url_for('core.faq')}}">FAQ</a></li>
				</ul>
			</nav>
			{% else %}
			<nav style="background: rgba(0, 0, 0, 0.1); margin-top: 10px" id="nav">
				<ul>
					<li><a href="{{ url_for('core.index')}}">Inicio</a></li>
					<li><a href="#confirmation" class="scrolly">Iniciar sesión</a></li>
					<li><a href="{{ url_for('users.register')}}">Registrarse</a></li>
				</ul>
			</nav>
			{% endif %}



		</div>

		<!-- Banner -->
		<section id="banner">
			<header>
				<h2>¡Hola! Queremos invitarte <br>
					a <strong>nuestra boda</strong></h2>
				<p>
					Por favor, confirma tu asistencia antes del 1 de octubre a las 12:00 horas, tiempo del Centro de México. <br>
					¡Queremos que nos acompañes y esperamos verte para celebrar nuestra unión este 17 de Noviembre de 2019!
				</p>
				<!--  new-->

				<div class="wrap">
					<h3 class="title-countdown"><strong>Cuenta regresiva</strong></h3>

					<div class="countdown">

						<div class="bloc-time days" data-init-value="00">
							<span class="count-title">Días</span>

							<div class="figure days days-1">
								<span class="top">0</span>
								<span class="top-back">
					<span>0</span>
								</span>
								<span class="bottom">0</span>
								<span class="bottom-back">
					<span>0</span>
								</span>
							</div>

							<div class="figure days days-2">
								<span class="top">0</span>
								<span class="top-back">
					<span>0</span>
								</span>
								<span class="bottom">0</span>
								<span class="bottom-back">
					<span>0</span>
								</span>
							</div>

							<div class="figure days days-3">
								<span class="top">0</span>
								<span class="top-back">
					<span>0</span>
								</span>
								<span class="bottom">0</span>
								<span class="bottom-back">
					<span>0</span>
								</span>
							</div>

						</div>



						<div class="bloc-time hours" data-init-value="24">
							<span class="count-title">Horas</span>

							<div class="figure hours hours-1">
								<span class="top">0</span>
								<span class="top-back">
					<span>0</span>
								</span>
								<span class="bottom">0</span>
								<span class="bottom-back">
					<span>0</span>
								</span>
							</div>

							<div class="figure hours hours-2">
								<span class="top">0</span>
								<span class="top-back">
					<span>0</span>
								</span>
								<span class="bottom">0</span>
								<span class="bottom-back">
					<span>0</span>
								</span>
							</div>
						</div>

						<div class="bloc-time min" data-init-value="0">
							<span class="count-title">Minutos</span>

							<div class="figure min min-1">
								<span class="top">0</span>
								<span class="top-back">
					<span>0</span>
								</span>
								<span class="bottom">0</span>
								<span class="bottom-back">
					<span>0</span>
								</span>
							</div>

							<div class="figure min min-2">
								<span class="top">0</span>
								<span class="top-back">
					<span>0</span>
								</span>
								<span class="bottom">0</span>
								<span class="bottom-back">
					<span>0</span>
								</span>
							</div>
						</div>

						<div class="bloc-time sec" data-init-value="0">
							<span class="count-title">Segundos</span>

							<div class="figure sec sec-1">
								<span class="top">0</span>
								<span class="top-back">
					<span>0</span>
								</span>
								<span class="bottom">0</span>
								<span class="bottom-back">
					<span>0</span>
								</span>
							</div>

							<div class="figure sec sec-2">
								<span class="top">0</span>
								<span class="top-back">
					<span>0</span>
								</span>
								<span class="bottom">0</span>
								<span class="bottom-back">
					<span>0</span>
								</span>
							</div>
						</div>
					</div>
				</div>




				<!--  counter-->

			</header>
		</section>

		<!-- Form -->
		<main id="confirmation" class="container-contact100">
			<div class="wrap-contact100">
				<header style="text-align: center">
					<span class="contact100-form-title">
								Inicia sesión
							</span>
					<section id="email_signIn">
						<form class="contact100-form validate-form" method="post" style="margin-top:30px">
							{# This hidden_tag is a CSRF security feature. #} {{ form.hidden_tag() }} {{ render_field(form.email, placeholder=form.email.label.text) }} {{ render_field(form.password, placeholder=form.password.label.text) }} {% with messages = get_flashed_messages()
							%} {% if messages %} {% for message in messages %}
							<p style="color:red">{{message}}</p>
							{% endfor %} {% endif %} {% endwith %}

							<div class="container-contact100-form-btn">
								<button class="contact100-form-btn" type="submit">
    									<span>
    										<i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
    										  Ingresar a mi cuenta
    									</span>
    								</button>
							</div>
						</form>
					</section>
				</header>
				<p style="text-align: center">¿No tienes tu contraseña? Solicítala <strong><a href="{{ url_for('users.register') }}">aquí</a></strong></p>

			</div>
		</main>


		<!-- Footer -->
		<div id="footer">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!-- Contact -->
						<section class="contact">
							<header>
								<h3>¿Tienes una pregunta?</h3>
							</header>
							<p>Por favor, contáctanos en una de nuestras redes sociales y con gusto te ayudaremos</p>
							<ul class="icons">
								<li><a href="https://twitter.com/MarcoBurgos" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="https://www.facebook.com/profile.php?id=555107398" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
								<li><a href="https://www.instagram.com/angiezcoln/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="https://www.linkedin.com/in/marco-burgos-2b006670/" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
								<li><a href="mailto:marko.burgos@gmail.com" class="icon fa-envelope"><span class="label">Gmail</span></a></li>
							</ul>
						</section>

						<!-- Copyright -->
						<div class="copyright">
							<ul class="menu">
								<li>&copy; Todos los Derechos Reservados.</li>
								<li>Diseño y desarrollo: <a href="https://twitter.com/MarcoBurgos">Marco Burgos</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<!-- Scripts -->
	<script src="{{ url_for('static', filename='assets/js/jquery.min.js')}}"></script>
	<script src="{{ url_for('static', filename='assets/js/jquery.dropotron.min.js')}}"></script>
	<script src="{{ url_for('static', filename='assets/js/jquery.scrolly.min.js')}}"></script>
	<script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js')}}"></script>
	<script src="{{ url_for('static', filename='assets/js/browser.min.js')}}"></script>
	<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js')}}"></script>
	<script src="{{ url_for('static', filename='assets/js/util.js')}}"></script>
	<script src="{{ url_for('static', filename='assets/js/main.js')}}"></script>
	<script src="{{ url_for('static', filename='assets/js/counter.js')}}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>

</body>

</html>
