{% extends "base_sections.html"%}
{% block content %}
<!-- Main -->
				<div class="wrapper style1">

					<div class="container">
						<div class="row gtr-200">
							<div class="col-8 col-12-mobile" id="content">
								<article id="main">
									<header>
										<h2><a href="#">¡Que la música no pare!</a></h2>
										<p>
											Ayúdanos a armar el mejor playlist para la fiesta
										</p>
									</header>
									<a href="#" class="image featured"><img src="{{ url_for('static', filename='images/music.jpg')}}" alt="Música para la fiesta" /></a>
                  <p>
                    No hay fiesta sin música y por eso queremos que nuestros invitados nos ayuden a crear el playlist perfecto.
                  </p>
                  <p>
                    Para eso hemos creado un playlist en Spotify en el cual puedes ayudarnos a agregar canciones a la lista y
                    contribuir al ambiente de la fiesta.
									</p>
									<p>
										Para empezar tienes que contar con una cuenta de Spotify, si aún no tienes una, puedes abrir una gratis en <a href="https://www.spotify.com/mx/signup/?forward_url=https%3A%2F%2Fwww.spotify.com%2Fus%2Fdownload%2F"><strong>este link</strong></a> y
										crear tu perfil. Una vez que estés registado puedes seguir la lista que te dejamos ahí abajo y cada que escuches una canción que quieras que suene en la boda, la agregas y ¡listo!
									</p>

									<br>

                  <h2>Canciones en el playlist</h2>
                    <br>

										<iframe src="https://open.spotify.com/embed/user/marcoburgos/playlist/0hDMbPox24ra5hgXwvCnGR" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

                  <!-- {% for track in tracks %}
                    <div class="panel">
                      <div class="panel-element">
                        <div class="element-content">
                          <div class="content-post">
                            <div class="post-avatar">
                              <img src="{{ track.album_img }}" alt="">
                            </div>
                            <div class="post-content">
                              <p class="post-title">{{ track.song_name }} - {{ track.artist_name }}</p>

                              <div>
                                <audio controls>
                                  <source src="{{ track.track_preview }}" type="audio/mpeg">
                                  </audio>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %} -->

								</article>
							</div>
							<div class="col-4 col-12-mobile" id="sidebar">
								<hr class="first" />
								<section>
									<header>
										<h3><a href="#">¿Buscas más información?</a></h3>
									</header>
									<p>
										Visita el sitio web de Quinta San Carlos y enamórate de este lugar como lo hicimos
										nosotros; si quieres conocer con más detalles las habitaciones o amenidades del lugar,
										haz click en el botón para ir a la página del hotel.
									</p>
									<footer>
										<a href="http://quintasancarlos.com/" class="button">Conocer más</a>
									</footer>
								</section>
								<hr />
								<section>
									<header>
										<h3 style="text-align:center">Otras secciones <br>que pueden interesarte</h3>
										<br>
									</header>
									<div class="row gtr-50">
										<div class="col-4">
											<a href="{{ url_for('core.quinta_san_carlos')}}" class="image fit"><img src="{{ url_for('static', filename='images/hotel.jpg')}}" alt="" /></a>
										</div>
										<div class="col-8">
											<h4>Hotel sede</h4>
											<p>
												Conoce el recinto que albergará la boda.
											</p>
										</div>
                    <div class="col-4">
											<a href="{{ url_for('core.how_to_get_there')}}" class="image fit"><img src="{{ url_for('static', filename='images/getthere.jpg')}}" alt="" /></a>
										</div>
										<div class="col-8">
											<h4>¿Cómo llegar?</h4>
											<p>
												Te dejamos indicaciones para llegar en tiempo a la boda.
											</p>
										</div>
										<div class="col-4">
											<a href="{{ url_for('core.others')}}" class="image fit"><img src="{{ url_for('static', filename='images/others.jpg')}}" alt="" /></a>
										</div>
										<div class="col-8">
											<h4>Otras opciones de hospedaje</h4>
											<p>
												Explora otras ofertas de alojamiento en el pueblo.
											</p>
										</div>
                    <div class="col-4">
											<a href="{{ url_for('core.registry')}}" class="image fit"><img src="{{ url_for('static', filename='images/gift.jpg')}}" alt="" /></a>
										</div>
										<div class="col-8">
											<h4>Mesa de regalos</h4>
											<p>
												Explora las opciones en la mesa que hemos establecido en Amazon.
											</p>
										</div>
                    <div class="col-4">
											<a href="{{ url_for('core.flights')}}" class="image fit"><img src="{{ url_for('static', filename='images/plane.jpg')}}" alt="" /></a>
										</div>
										<div class="col-8">
											<h4>¿Vuelas a la boda?</h4>
											<p>
												Revisa estas herramientas para encontrar el mejor vuelo.
											</p>
										</div>
										<div class="col-4">
											<a href="{{ url_for('core.faq')}}" class="image fit"><img src="{{ url_for('static', filename='images/pic02.jpg')}}" alt="" /></a>
										</div>
										<div class="col-8">
											<h4>FAQ</h4>
											<p>
												Encuentra respuestas a tus dudas sobre la boda.
											</p>
										</div>
									</div>
									<footer>
										<a href="{{ url_for('core.index')}}" class="button">Ir al Home</a>
									</footer>
								</section>
							</div>
						</div>

					</div>

				</div>
{% endblock %}
