{% extends "base_sections.html"%}
{% block content %}
<!-- Main -->
				<div class="wrapper style1">

					<div class="container">
						<div class="row gtr-200">
							<div class="col-8 col-12-mobile" id="content">
								<article id="main">
									<header>
										<h2><a href="#">Otras opciones de hospedaje</a></h2>
										<p>
											Buscamos una variedad de opciones para que te hospedes en el pueblo y nos acompañes durante toda la fiesta
										</p>
									</header>
									<a href="#" class="image featured"><img src="{{ url_for('static', filename='images/others.jpg')}}" alt="gift" /></a>
									<p>
										Nuestro deseo hubiese sido que Quinta San Carlos pudiera albergar a todos nuestros invitados que deseen hospedarse ahí para celebrar
                    con nosotros durante toda la noche, pero el hotel tiene una capacidad de 26 habitaciones, lo cual hace imposible que todos puedan quedarse en el mismo lugar.
									</p>
                  <p>
										Sin embargo, nos dimos a la tarea de investigar cuáles son las otras opciones disponibles, para que nos acompañes.
                    Nuestras recomendaciones van desde casas cercanas a la quinta, que se rentan por noche, pasando por hoteles en la zona de Jocotepec, Ajijic o hasta Chapala
                    así como casas en renta por la plataforma Airbnb.
									</p>
                  <header>
                    <h3>Casas</h3>
                  </header>
                  <header>
                    <h4>Casa Preciado</h4>
                  </header>
                  <p>
                    En esta propiedad hay 8 habitaciones, 6 de ellas cuentan con baño completo y cama King size, cada una tiene un costo de mil pesos, en ocupación doble.
                    Otra habitación tiene cama King size, baño con jacuzzy y el costo es mil 200 pesos, por ocupación doble.
                  </p>
                  <p>La última habitación tiene dos camas matrimoniales, puede acoger hasta cuatro personas por un costo de dos mil pesos la noche.
                    Si un grupo grande quiere rentar la casa completa, el costo es de 8 mil pesos y pueden dormir ahí 16 personas.
                  </p>
                  <p>
                    El ingreso es a las 12:00 horas y la salida a las 15:00.
                  </p>
                  <ul>
                    <li>
                      <strong>Teléfono: </strong>33 3137 6760, con Rocío.
                    </li>
                  </ul>

                  <br>
                  <header>
                    <h4>Casa La Gavia</h4>
                  </header>
                  <p>
                    Caben hasta 14 personas, cuanta con 5 habitaciones todas con baño completo. Aparte cuenta con un medio baño en la planta baja,
                    cocina equipada, jardín amplio con vista a la Laguna, asador y jacuzzi al aire libre para 8 personas.
                  </p>
                  <p>La casa tiene más de 40 años de construcción con su estilo mexicano. Hace un par de años se agregó un baño a cada habitación.
                    En el jardín tienen arboles de guayabas, aguacate, limón, granadas, guamuchil, mango y más.
                  </p>
                  <p>
                    La hora de llegada es libre a partir de las 08:00 y la salida debe efectuarse antes de las 21:00.
                  </p>
                  <ul>
                    <li>
                      <strong>Teléfono: </strong>33 3578 3768, con Lorena
                    </li>
                  </ul>

                  <hr>

                  <header>
                    <h3>Hoteles</h3>
                  </header>
                  <p>
                    En el área hay hoteles de distintas categorías, recopilamos esta lista que puede ser de tu utilidad si tu plan
                    es pasar todo el fin de semana de puente en uno de los resorts-spa de la zona o uno para pernoctar la noche de la fiesta.
                  </p>
                  <p>Si te inclinas por esta opción, te recomendamos checar los precios en internet, usualmente en Trivago, Booking u Hotels.com
                  puedes encontrar precios más bajos que hablar directamente a recepción.</p>
                  <h4>El Chante</h4>
                  <ul>
                    <li><strong>Categoría: </strong>5 estrellas</li>
                    <li><strong>Dirección: </strong>RIVERA DEL LAGO # 170, Jocotepec</li>
                    <li><strong>Teléfono: </strong>763-2608</li>
                  </ul>
                  <h4>Monte Coaxala</h4>
                  <ul>
                    <li><strong>Categoría: </strong>5 estrellas</li>
                    <li><strong>Dirección: </strong>RAFAEL OSUNA # 300, Jocotepec</li>
                    <li><strong>Teléfono: </strong>761-0111</li>
                  </ul>
                  <h4>Villas Buenaventura</h4>
                  <ul>
                    <li><strong>Categoría: </strong>4 estrellas</li>
                    <li><strong>Dirección: </strong>LA PAZ ORIENTE # 423, Jocotepec</li>
                    <li><strong>Teléfono: </strong>761-0303</li>
                  </ul>
                  <h4>Los Dos B&ampB</h4>
                  <ul>
                    <li><strong>Categoría: </strong>3 estrellas</li>
                    <li><strong>Dirección: </strong>RICO NORTE #191, Jocotepec</li>
                    <li><strong>Teléfono: </strong>763-0657</li>
                  </ul>
                  <h4>Hotel Villa San Francisco</h4>
                  <ul>
                    <li><strong>Categoría: </strong>3 estrellas</li>
                    <li><strong>Dirección: </strong>RAMÓN CORONA #16, Chapala</li>
                    <li><strong>Teléfono: </strong>765-2128</li>
                  </ul>

                  <hr>
                  <header>
                    <h3>Airbnb</h3>
                  </header>
                  <p>
                    Esta opción es la más amplia, pero también la más volátil, pues depende de la demanda, las propiedades ya estén rentadas.
                    Para quienes no saben qué es Airbnb: son propiedades de particulares y/o empresas que ponen a disposición de, generalmente,
                    viajeros y en las cuales te puedes hospedar como si fuera tu casa.
                  </p>
                  <p>
                    En esta caso puedes encontrar casas más pequeñas, de una, dos o tres recámaras en cotos cercanos al pueblo. Para poder reservar
                    una propiedad es necesario contar con una cuenta, si aún no tienes una puedes crear una con el <a href="https://es.airbnb.com/c/marcoalbertom?currency=USD">siguiente enlace</a>
                    y además recibirás crédito para usar en tu reservación.
                  </p>
                  <a href="https://www.airbnb.mx/s/Jocotepec/homes?refinement_paths%5B%5D=%2Fhomes&query=Jocotepec&place_id=ChIJJQXgnAtcL4QR_WyIg2kBIRs&allow_override%5B%5D=&checkin=2019-11-16&checkout=2019-11-18&room_types%5B%5D=Entire%20home%2Fapt&s_tag=VS2HCc9H" class="button">Buscar Alojamientos en Airbnb</a>







								</article>
							</div>
							<div class="col-4 col-12-mobile" id="sidebar">
								<hr class="first" />
								<section>
									<header>
										<h3><a href="#">¿Buscas más información?</a></h3>
									</header>
									<p>
										Visita el sitio web de Quinta San Carlos y enamórate de este lugar como lo hicimos
										nosotros; si quieres conocer con más detalles las habitaciones o amenidades del lugar,
										haz click en el botón para ir a la página del hotel.
									</p>
									<footer>
										<a href="http://quintasancarlos.com/" class="button">Conocer más</a>
									</footer>
								</section>
								<hr />
                <section>
									<header>
										<h3 style="text-align:center">Otras secciones <br>que pueden interesarte</h3>
										<br>
									</header>
									<div class="row gtr-50">
                    <div class="col-4">
											<a href="{{ url_for('core.quinta_san_carlos')}}" class="image fit"><img src="{{ url_for('static', filename='images/hotel.jpg')}}" alt="" /></a>
										</div>
										<div class="col-8">
											<h4>Hotel sede</h4>
											<p>
												Conoce el recinto que albergará la boda.
											</p>
										</div>
										<div class="col-4">
											<a href="{{ url_for('core.how_to_get_there')}}" class="image fit"><img src="{{ url_for('static', filename='images/getthere.jpg')}}" alt="" /></a>
										</div>
										<div class="col-8">
											<h4>¿Cómo llegar?</h4>
											<p>
												Te dejamos indicaciones para llegar en tiempo a la boda.
											</p>
										</div>
										<div class="col-4">
											<a href="{{ url_for('core.registry')}}" class="image fit"><img src="{{ url_for('static', filename='images/gift.jpg')}}" alt="" /></a>
										</div>
										<div class="col-8">
											<h4>Mesa de regalos</h4>
											<p>
												Explora las opciones en la mesa que hemos establecido en Amazon.
											</p>
										</div>
										<div class="col-4">
											<a href="{{ url_for('core.flights')}}" class="image fit"><img src="{{ url_for('static', filename='images/plane.jpg')}}" alt="" /></a>
										</div>
										<div class="col-8">
											<h4>¿Vuelas a la boda?</h4>
											<p>
												Revisa estas herramientas para encontrar el mejor vuelo.
											</p>
										</div>
										<div class="col-4">
											<a href="{{ url_for('core.playlist')}}" class="image fit"><img src="{{ url_for('static', filename='images/music.jpg')}}" alt="" /></a>
										</div>
										<div class="col-8">
											<h4>¡Que la música no pare!</h4>
											<p>
												Sugiérenos canciones para que suenen en la fiesta.
											</p>
										</div>
										<div class="col-4">
											<a href="{{ url_for('core.faq')}}" class="image fit"><img src="{{ url_for('static', filename='images/pic02.jpg')}}" alt="" /></a>
										</div>
										<div class="col-8">
											<h4>FAQ</h4>
											<p>
												Encuentra respuestas a tus dudas sobre la boda.
											</p>
										</div>
									</div>
									<footer>
										<a href="{{ url_for('core.index')}}" class="button">Ir al Home</a>
									</footer>
								</section>
							</div>
						</div>

					</div>

				</div>
{% endblock %}
