{% from "_render_field.html" import render_field %}
{% extends "base_sections.html"%}
{% block scripts %}

		<script type="text/javascript">
      function deleteFlash(btn) {
        $('.flash-container').hide();
      }
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type=text/javascript>

    $(document).ready(function() {
       $('form').submit(function (e) {
				 	let req_success = false;
				 	 $("button[type=submit]").attr("data-state", "sending");
           var url = "{{ url_for('users.background_process') }}";
           $.ajax({
               type: "POST",
               url: url,
               data: {
				             email:$('#email_register_form').val()
			                },
               success: function (data) {
                   if(data.result == 'success') {
										 req_success = true;
                     $("#flash-send").show()
                     $("#flash-repeated").hide()
                     $("#flash-notfound").hide()
										 $("#flash-server-error").hide()
                   } else if (data.result == 'repeated') {
                     req_success = false;
                     $("#flash-repeated").show()
                     $("#flash-send").hide()
                     $("#flash-notfound").hide()
										 $("#flash-server-error").hide()
                   } else if (data.result == 'not-found') {
                     req_success = false;
                     $("#flash-notfound").show()
                     $("#flash-send").hide()
                     $("#flash-repeated").hide()
										 $("#flash-server-error").hide()
                   }
									 else if (data.result == 'error') {
                     req_success = false;
										 $("#flash-server-error").show()
                     $("#flash-notfound").hide()
                     $("#flash-send").hide()
                     $("#flash-repeated").hide()
                   }
									 if (req_success) {
								    setTimeout(function() {
								      // if successful
								      $("button[type=submit]").attr("data-state", "success");
								      setTimeout(function() {
								        $("button[type=submit]").attr("data-state", "inactive");
								      }, 2500);
								    }, 1);
								  }else {
								    setTimeout(function() {
								      // if successful
								      $("button[type=submit]").attr("data-state", "fail");
								      setTimeout(function() {
								        $("button[type=submit]").attr("data-state", "inactive");
								      }, 2500);
								    }, 1);
								  }
               }
           });
           e.preventDefault();
       });
       $.ajaxSetup({
           beforeSend: function(xhr, settings) {
               if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                   xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
               }
           }
       })
   });
		</script>
{% endblock %}
{% block content %}



				<!-- Banner -->
					<section id="banner">
						<header>
							<h2>¡Hola! Queremos invitarte <br> a <strong>nuestra boda</strong></h2>
							<p>
								Recibe tu contraseña para iniciar sesión con el correo registrado, <br>
								una vez que la tenga, ingresa a tu cuenta y confirma cuántas personas nos acompañarán,<br>
								así podremos organizar una mejor fiesta <br>
								<strong>¡Gracias y esperamos verte este 17 de noviembre de 2019!</strong>
							</p>
						</header>
					</section>

			<!-- Main -->
			<main id="confirmation" class="container-contact100">
				<div class="wrap-contact100">
					<header style="text-align: center">
						<span class="contact100-form-title">
							Regístrate
						</span>

						<section id="email_signIn" >
							<form class="contact100-form validate-form" method="post" style="margin-top:30px" id="form-register">
								{# This hidden_tag is a CSRF security feature. #}
								{{ form.hidden_tag() }}
								{{ render_field(form.email, placeholder=form.email.label.text, id="email_register_form") }}

								<ul>
									{% for error in form.errors %}
									<li style="color:red"> {{ error }} </li>
									{% endfor %}
								</ul>


								<div id="flash-notfound" class="flash-container flash-error" style="display: none;">
									<div class="flash-message">
										<p>El correo que ingresaste no existe en la base de datos. <br>
                      Intenta con otro o contacta al administrador: marko.burgos@gmail.com</p>
									</div>
									<div class="flash-button">
										<button type="button" onclick="deleteFlash(this)" href="#">Cerrar</button>
									</div>
								</div>

                <div id="flash-repeated" class="flash-container flash-warning" style="display: none;">
									<div class="flash-message">
										<p>Este correo ya cuanta con una contraseña asignada. <br>
											Para evitar spam, solo se genera una vez, contacta a marko.burgos@gmail.com para generar otra, <br>
											en caso de que no cuentes con tu contaseña</p>
									</div>
									<div class="flash-button">
										<button type="button" onclick="deleteFlash(this)" href="#">Cerrar</button>
									</div>
								</div>

                <div id="flash-send" class="flash-container flash-success" style="display: none;">
									<div class="flash-message">
										<p>Enviamos un correo al mail que ingresaste con la contraseña. <br>
											Si no lo recibiste, checa la carpeta de spam o <br>
											contacta a marko.burgos@gmail.com</p>
									</div>
									<div class="flash-button">
										<button type="button" onclick="deleteFlash(this)" href="#">Cerrar</button>
									</div>
								</div>


								<div id="flash-server-error" class="flash-container flash-success" style="display: none;">
									<div class="flash-message">
										<p>Enviamos un correo al mail que ingresaste con la contraseña. <br>
											Si no lo recibiste, checa la carpeta de spam o <br>
											contacta a marko.burgos@gmail.com</p>
									</div>
									<div class="flash-button">
										<button type="button" onclick="deleteFlash(this)" href="#">Cerrar</button>
									</div>
								</div>


								<div class="container-contact100-form-btn">
									<button href="#" id="process_input" class="btn-register" type="submit" data-state="inactive">
										<span>
											<i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
											Enviar
										</span>
									</button>
								</div>
							</form>
						</section>


					</header>

					<p style="text-align: center">Si tienes duda de qué correo está registrado, pregúnta a los novios.</p>
					<br>
					<p style="text-align: center">Volver al <a href="{{ url_for('core.index') }}"><strong>Home</strong></a></p>

				</div>
			</main>




{% endblock %}
