{% from "_render_field.html" import render_field %}
{% extends "base_sections.html"%}
{% block scripts %}

		<script type="text/javascript">
      function deleteFlash(btn) {
        $('.flash-container').remove();
      }
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type=text/javascript>

    $(document).ready(function() {
       $('form').submit(function (e) {
				 	 $("#process_input").text("Validando...")
           var url = "{{ url_for('users.background_process') }}";
           $.ajax({
               type: "POST",
               url: url,
               data: {
				             email:$('#email_register_form').val()
			                },
               success: function (data) {
                   console.log(data)
                   if(data.result == 'success') {
                     console.log('flashsend')
                     $("#flash-send").show()
                     $("#flash-repeated").hide()
                     $("#flash-notfound").hide()
                   } else if (data.result == 'repeated') {
                     console.log('repeated')
                     $("#flash-repeated").show()
                     $("#flash-send").hide()
                     $("#flash-notfound").hide()
                   } else if (data.result == 'not-found') {
                     console.log('notfound')
                     $("#flash-notfound").show()
                     $("#flash-send").hide()
                     $("#flash-repeated").hide()
                   }

               }
           });
           e.preventDefault();
       });
       // Inject CSRF token into our AJAX request.
       $.ajaxSetup({
           beforeSend: function(xhr, settings) {
               if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                   xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
               }
           }
       })
   });
		</script>
{% endblock %}
{% block content %}



				<!-- Banner -->
					<section id="banner">
						<header>
							<h2>¡Hola!</h2>
							<h2>Queremos invitarte a <strong>nuestra boda</strong></h2>
							<p>
								Si aún no has recibido tu contraseña y envía el formato para recibir una en el correo registrado, <br>
								luego inicia sesión y confirma cuántas personas nos acompañarán, así podremos organizar una mejor fiesta <br>
								<strong>¡Gracias y esperamos verte este 17 de noviembre de 2019!</strong>
							</p>
						</header>
					</section>

			<!-- Main -->
			<main id="confirmation" class="container-contact100">
				<div class="wrap-contact100">
					<header style="text-align: center">
						<span class="contact100-form-title">
							Ingresa tu mail <br>para recibir tu contaseña
						</span>

						<section id="email_signIn" >
							<form class="contact100-form validate-form" method="post" style="margin-top:30px">
								{# This hidden_tag is a CSRF security feature. #}
								{{ form.hidden_tag() }}
								{{ render_field(form.email, placeholder=form.email.label.text, id="email_register_form") }}

								<ul>
									{% for error in form.errors %}
									<li style="color:red"> {{ error }} </li>
									{% endfor %}
								</ul>


								<div id="flash-notfound" class="flash-container flash-error" style="display: none;">
									<div class="flash-message">
										<p>El correo {form.email.data} que ingresaste no existe en la base de datos. <br>
                      Intenta con otro o contacta al administrador: marko.burgos@gmail.com</p>
									</div>
									<div class="flash-button">
										<button onclick="deleteFlash(this)" href="#">Cerrar</button>
									</div>
								</div>

                <div id="flash-repeated" class="flash-container flash-warning" style="display: none;">
									<div class="flash-message">
										<p>Este correo {form.email.data} ya cuanta con una contraseña asignada. Para evitar spam, solo se genera una vez, <br>
                      contacta a marko.burgos@gmail.com para generar otra, en caso de que no cuentes con tu contaseña.</p>
									</div>
									<div class="flash-button">
										<button onclick="deleteFlash(this)" href="#">Cerrar</button>
									</div>
								</div>

                <div id="flash-send" class="flash-container flash-success" style="display: none;">
									<div class="flash-message">
										<p>Enviamos un correo al mail {form.email.data} con la contraseña. Si no lo recibiste, <br>
                      checa la carpeta de spam o contacta a marko.burgos@gmail.com".</p>
									</div>
									<div class="flash-button">
										<button onclick="deleteFlash(this)" href="#">Cerrar</button>
									</div>
								</div>


								<div class="container-contact100-form-btn">
									<button href="#" id="process_input" class="contact100-form-btn" type="submit">
										<span>
											<i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
											Enviar
										</span>
									</button>
								</div>
							</form>
						</section>


					</header>
					<br>

					<p style="text-align: center">Si tienes duda de qué correo está registrado, pregúnta a los novios.</p>
					<br>
					<p style="text-align: center">Volver al <a href="{{ url_for('core.index') }}">Home</a></p>

				</div>
			</main>




{% endblock %}
