{% from "_render_field.html" import render_field %}
{% extends "base_sections.html"%}
{% block content %}



				<!-- Banner -->
					<section id="banner">
						<header>
							<h2>¡Hola!</h2>
							<h2>Queremos invitarte a <strong>nuestra boda</strong></h2>
							<p>
								Si aún no has recibido tu contraseña y envía el formato para recibir una en el correo registrado, <br>
								luego inicia sesión y confirma cuántas personas nos acompañarán, así podremos organizar una mejor fiesta <br>
								<strong>¡Gracias y esperamos verte este 17 de noviembre de 2019!</strong>
							</p>
						</header>
					</section>

			<!-- Main -->
			<main id="confirmation" class="container-contact100">
				<div class="wrap-contact100">
					<header style="text-align: center">
						<span class="contact100-form-title">
							Ingresa tu mail <br>para recibir tu contaseña
						</span>

						<section id="email_signIn" >
							<form class="contact100-form validate-form" method="post" style="margin-top:30px">
								{# This hidden_tag is a CSRF security feature. #}
								{{ form.hidden_tag() }}
								{{ render_field(form.email, placeholder=form.email.label.text) }}

								<ul>
									{% for error in form.errors %}
									<li style="color:red"> {{ error }} </li>
									{% endfor %}
								</ul>

								{% with messages = get_flashed_messages(with_categories=true) %}
								{% for category, message in messages %}


								<div id="flash-alert" class="flash-container {{category}}">
									<div class="flash-message">
										<p> {{message}} </p>

									</div>
									<div class="flash-button">
										<a href="">Cerrar</a>
									</div>
								</div>


								{% endfor %}
								{% endwith %}

								<div class="container-contact100-form-btn">
									<button class="contact100-form-btn" type="submit">
										<span>
											<i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
											Enviar
										</span>
									</button>
								</div>
							</form>
						</section>


					</header>
					<br>

					<p style="text-align: center">Si tienes duda de qué correo está registrado, pregúnta a los novios.</p>
					<br>
					<p style="text-align: center">Volver al <a href="{{ url_for('core.index') }}">Home</a></p>

				</div>
			</main>




{% endblock %}
