<!DOCTYPE html>
<html lang="en">

<head>
  <title>Nuestra Boda A &amp M</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/reminders.css')}}" />

  <script>
    function togglePending(btn) {
      var pending = document.getElementById("tablePending_Div");

      if (pending.style.display === "none") {
        pending.style.display = "table";
      } else {
        pending.style.display = "none";
      }
    }
  </script>

  <script>
    function deleteFlash(btn) {
      document.getElementById("div_flashAlert").remove()
    }
  </script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type=text/javascript>
    $(document).ready(function() {
      $("#reminder_button").on("click", function(e) {
        let req_success = false;
        $("#reminder_button").attr("data-state", "sending");
        var url = "{{ url_for('users.reminders_bgprocess') }}";
        $.ajax({
          type: "POST",
          url: url,
          data: {},
          success: function(data) {
            if (data.total_mails === true) {
              req_success = true;
            } else {
              req_success = false;
            }
            if (req_success === true) {
              setTimeout(function() {
                $("#reminder_button").attr("data-state", "success");
                setTimeout(function() {
                  $("#reminder_button").attr("data-state", "inactive");
                }, 2500);
              }, 1);
            } else {
              setTimeout(function() {
                $("#reminder_button").attr("data-state", "fail");
                setTimeout(function() {
                  $("#reminder_button").attr("data-state", "inactive");
                }, 2500);
              }, 1);
            }
          }
        });
        e.preventDefault();
      });
    });
  </script>






  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/font-awesome.min.css')}}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="outer-container">
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
      <div id="div_flashAlert" class="alert alert-warning alert-dismissible fade show" role="alert">
        <button onclick="deleteFlash(this)" type="button" class="close" data-dismiss="alert" aria-label="Close" class="fade close">
        <span aria-hidden="true">&times;</span>
      </button> {{message}}
      </div>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}

    <div class="container-table-dashboard">
      <div class="jumbotron">
        <div class="card">
          <div class="card-header">
            Nuestra boda
          </div>
          <div class="card-body">
            <h5 class="card-title">Panel de Control</h5>
            <p class="card-text">Hola, {{ name }}! Bienvenido/a a tu panel de control</p>
            <p class="card-text">Hay {{ amount_of_pendings }} invitados registrados que aún no confirman su asistencia</p>
            <a href="#" class="btn btn-primary" style="margin-right: 20px; margin-bottom: 20px" onclick="togglePending(this)">Ver invitados pendientes</a>
            <a href="{{ url_for('users.admin') }}" class="btn btn-success" style="margin-right: 20px; margin-bottom: 20px">Volver al Panel de Control</a>
            <a href="{{ url_for('core.index') }}" class="btn btn-info" style="margin-right: 20px; margin-bottom: 20px">Volver al home</a>
          </div>
        </div>
      </div>
      <br>
      <br>
    </div>
  </div>


  <div style="display:table; padding-right:20px; padding-left:20px; margin-left:auto; margin-right:auto" id="tablePending_Div">
    <div style="display: flex;">
      <h1 style="align-self:center;">Invitados que recibirán correo de recordatorio</h1>
    </div>

    <table class="table table-bordered" style="background-color: #ffffff">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Email</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Pases</th>
          <th scope="col">Invitados</th>
        </tr>
      </thead>
      <tbody>
        {% for pending in pendings %}
        <tr>
          <th scope="row">{{ pending.id }}</th>
          <td>{{ pending.name }}</td>
          <td>{{ pending.email }}</td>
          <td>{{ pending.phone_number }}</td>
          <td>{{ pending.guests }}</td>
          <td>{{ pending.guests_names }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <button href="#" id="reminder_button" class="btn-register" style="margin:30px;" data-state="inactive">
        <span>
          <i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
          Enviar recordatorios
        </span>
      </button>

  </div>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
